<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock css %}
    {% block content %}
    <div class="body">
<head>
    <title>Login</title>
</head>
<body>
    <header>
            
    </header>
    {% if user.is_authenticated %}
    <div class="login">
        <h1>Logout</h1>
                <a href="{% url 'accounts:signout' %}" id="logout"> <button class="btn">Sign Out</button></a>
      
        <a class="btn" href="{% url 'homepage:home' %}">Home</a>
        
    </div>
    {% else %}
    <div class="login">
        <h1>LOGIN</h1>
        
            <form method="POST">
                    {% csrf_token %}
                
                    <div class="textbox">
                        <input type="username" name="username" id="username" class="input" placeholder="Username">
                    </div>
                    <div class="textbox">
                        <input type="password" name="password" id="password" class="input" placeholder="Password">
                    </div>
                <button class="btn" id="login">Sign In</button>
                <a class="btn" href="{% url 'accounts:register_url' %}">Sign Up</a>
            </form>

        <a class="btn" href="{% url 'homepage:home' %}">Home</a>
        <h1 style="font-size:130%;">{{ pesan }}</h1>
        
    </div>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</div>
{% endblock %}

