<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'login.css' %}">{% endblock css %}
    {% block content %}
    <div class="body">
<div class="container">
<head>

        <title>Register</title>
</head>
<body>
        <div >
                <div class="register">
                    <h1>Create New Account</h1>
                            <form method="POST">
                                    {% csrf_token %}
                                {{form.as_p}}
                                <button class="btn">Register</button>
                                <a class="btn" href="{% url 'accounts:login_url' %}">Sign In</a>
                            </form>
                </div>
            </div>
    
</body>
</div>
</div>
{% endblock %}
