body, html {
    background-color: #F1F1F2!important;
    height: 100%;
    padding: 0;
  }

  .speaker{
    background: url("/static/images/speakers-back.png");
    background-position: 0% 0%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 50px;
  }

  .speaker-text{
    padding: 12vh 0%;
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 400%;
  }

  .box{
    margin: 50px auto;
    width: 100%;
    max-width: 300px;
    height: 40px; 
    text-align: center;
  }

  .box .container-search input{
    width: 100%;
  }

  .container-pembicara {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 12vh;
  }

  .card-pembicara {
    width: 250px;
    height: 367px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #F7F7F7;
    box-shadow: 0px 0px 20px rgba(156, 156, 156, 0.6);
    border-radius: 16px; 
  }

  .imgtop{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 4px black;
  }

  .primary{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
  }

  .jabatan-pembicara{
    color: #27B2C7;
    font-weight: italic;
  }

  .kategori-pembicara{
    border-radius: 5px;
    width: 50%;
    margin: 2% auto;
    font-weight: bold;
    padding: 1%;
    color: #F1F1F2;
    background: #2C8C9C;
  }

  .ket-pembicara{
    margin-left: 8%;
    color: #2C8C9C;
    font-weight: normal;
    text-align: left;
    padding: 6%;
  }

  .txtcopy{
    background-color: #2C8C9C;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    color:#F7F7F7;
    font-size: 150%;
    padding: 3%;
  }

@media only screen and (max-width: 720px) {
  .container-pembicara{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}