{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'register.css' %}">{% endblock css %}

{% block content %}
    <div class='container_form container-fluid d-flex'>
        <div class="form_box">
            <div class='success_msg'>
                <h1>Register Succeed</h1>
            </div>
            Back
            Home
        </div>       
    </div>
{% endblock %}