{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'register.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'register.js' %}"></script>
{% endblock css %}
    {% block content %}
    {% if user.is_authenticated %}
    <div class='back'>
        <div class="head_register">
            <h1><b>Register as Speaker</b></h1>
        </div>
        <div class='container_form container-fluid d-flex'>
            <div class="form_box">
                <div class='success_msg'>
                    <h1>{{ msg }}</h1>
                </div>
                    {% csrf_token %}

                    <div class="form_container">
                        <label>First Name</label>
                        <br>
                        {{form.first_name}}
                    </div>
                    <div class="form_container">
                        <label>Last Name</label>
                        <br>
                        {{form.last_name}}
                    </div>
                    <div class="form_container">
                        <label>Current Position</label>
                        <br>
                        {{form.position}}
                    </div>
                    <div class="form_container">
                        <label>Email</label>
                        <br>
                        {{form.email}}
                    </div>
                    <div class="form_column d-flex">
                        <div class="form_container">
                            <label>Gender</label>
                            <br>
                            {{form.gender}}
                        </div>
                        <div class="form_container">
                            <label>Category</label>
                            <br>
                            {{form.category}}
                        </div>
                    </div>
                    <div class="form_column d-flex">
                        <div class="form_container">
                            <label>City</label>
                            <br>
                            {{form.city}}
                        </div>
                        <div class="form_container">
                            <label>Fee (In Rupiah)</label>
                            <br>
                            {{form.fee}}
                        </div>
                    </div>
                    <div class="form_column d-flex">
                        <div class="form_container">
                            <label>Birth Date</label>
                            <br>
                            {{form.birth_date}}
                        </div>
                        <div class="form_container">
                            <label>Phone Number</label>
                            <br>
                            {{form.phone}}
                        </div>
                    </div>
                    <div class="form_container">
                        <label>Description</label>
                        <br>
                        {{form.desc}}
                        <p class="word_count">word count:<span id='jumlah_input'>0</span>/300</p>
                    </div>
                    <div class="form_container">
                        <label>Photo</label>
                        <br>
                        {{form.photo}}
                    </div>
                    <div class="baris_button d-flex">
                        <div class="kotak_kiri"></div>
                        <div class="create_button d-flex">
                            <input type="submit" value="Register" class="button_register">
                        </div>
                        <div class="kotak_kanan"></div>
                    </div>
            </div>       
        </div>
        <div class="bawah">
            <h5>Some speakers who have registered:</h5>
            <div class="daftar">

            </div>
        </div>
        <div class="container_button">
            <div class="random_button">
                <h2>See another three</h2>
            </div>
        </div>
    </div>
    {% else %}
    <h1>You must login first to register as speaker</h1>
    <a href="{% url 'accounts:login_url' %}">
        <h3>Login</h3>
    </a>
    {% endif %}
    <div class="txtcopy container-fluid">
        Copyright © 2019 BookaSpeaker
    </div>
{% endblock %}