.back {
    background: linear-gradient(to bottom right, #FFB84C, #27B2C7);
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px;
    padding: 2vh;
}

.head_register h1{
    font-family: "Raleway";
    color: #f7f7f7;
    text-align: center;
    font-size: 72px;
    text-shadow: 0px 2.8px 0.4px #494949;
}

.form_box { 
    background-color: #f1f1f2;
    padding: 2vw;
    margin: 4vw;
    font-family: "Montserrat";
    max-width: 44vw;
    border-radius: 1vw;;
}

.form_container {
    margin-bottom: 2vh;
}

label {
    font-size: 14px;
    margin: 0vh!important;
    font-weight: bold;
}

.container_form {
    justify-content: center;
}

.form_column {
    justify-content: space-between;
}

.form_container input[type=text], input[type=email]{
    width: 40vw;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

.form_container select, input[type=date], input[type=number] {
    width: 18vw;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

.form_column input[type=text] {
    width: 18vw;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

textarea {
    width: 40vw;
    height: 20vh;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

#id_photo {
    font-family: "Montserrat";
}

.create_button {
    margin: 0 1vw;
    justify-content: center;
}

input[type=submit] {
    border-radius: 0.4vw;
    border: none;
    background-color: #FFB84C;
    color: #ffffff;
    font-weight: bold;
    height: 32px;
    width: 100px;
}

.baris_button {
    justify-content: center;
    align-items: center;
}

.kotak_kiri {
    background-color: #FFB84C;
    height: 4px;
    width: 1px;
    opacity: 0;
    transition: 0.6s;
    transform-origin: right;
    border-radius: 60px;    
}

.kotak_kanan {
    background-color: #FFB84C;
    height: 4px;
    width: 1px;
    opacity: 0;
    transition: 0.6s;
    transform-origin: left;
}

.word_count {
    text-align: right;
    font-size: 14px;
}

label {
    transition: 0.6s;
}

.focused {
    color: #27B2C7!important;
    transform: translate(10px, 0px);
}

@media (max-width: 767.98px) {
    .head_register h1 {
        font-size: 24px;
        text-shadow: 0px 1px 0.4px #494949;
    }
    label {
        font-size: 9px;
        margin: 0vh;
    }
    .form_box {
        min-width: 80vw;

    }
    .form_container {
        margin-bottom: 0vh;
    }
    input {
        font-size: 9px;
    }
    br{margin: 0px;}
}

.bawah {
    margin: 2vh 0;
    text-align: center;
    font-family: "Montserrat";
    color: #f7f7f7;
    padding: 4vh;
}

.bawah h5 {
    font-size: 18px;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random_button {
    background-color: #FFB84C;
    font-family: "Raleway";
    color: #f7f7f7;
    width: 90px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.random_button h2 {
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
