.body{
    background: linear-gradient(to bottom right, #FFB84C, #27B2C7);
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    padding: 2vw;
    font-family: "Raleway";
}
.login{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
input {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100%;
    background: transparent;
    border: 2px solid  #34546D;
    border-radius: 4px;
}
.login h1{
    text-align: center;
}
.btn{
    width: 100%;
    border: 2px solid #34546D;
    border-radius: 4px;
    color: white;
    background-color:  #34546D;
    opacity: 0.7;
    margin: 5px 0;
}
.register{
    padding: 2% 12% 12% 12%;
}
.register h1{
    color: white;
    text-align: center;
}
.register h2{
    color: white;
    text-align: center;
}