html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
}

.navbar {
    background-color: #34546D;
    padding: 12px 2vw;
}

.input-group {
    width: 40vw!important;
    margin-top: 16px;
}

.btn-info {
    background-color: #FFB84C!important;
    border: none;
}


.button_up {
    background-color: #f7f7f7;
    color: #FFB84C;
    padding: 0vw;
    min-width: 48px;
    bottom: 2vw;
    right: 2vw;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    border: 2px solid #FFB84C   ;
    transition: 0.4s;
}

.button_up i {
    line-height: 44px;  
}

.button_up:hover {
    background-color: #FFB84C   ;
    color: #f7f7f7;
}

.logo img {
    width: 180px;
}

.logo {
    margin-right: 20px;
}

.nav-item a {
    font-family: "RaleWay";
    font-weight: bold;
    color: #f7f7f7!important;
}

.category-search {
    background-color: #f7f7f7!important;
    border: none;
    font-family: "Raleway";
    font-weight: bold;
    color: #34546D!important;
    margin-right: 2vw;
}

.form {
    padding:0px;
}


