.back {
    background: linear-gradient(to bottom right, #FFB84C, #27B2C7);
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    padding: 2vw;
}

.head_register h1{
    font-family: "Raleway";
    color: #f7f7f7;
    text-align: center;
    font-size: 72px;
    text-shadow: 0px 2.8px 0.4px #494949;
}

.form_box { 
    background-color: #f1f1f2;
    padding: 2vw;
    margin: 4vw;
    font-family: "Montserrat";
    max-width: 44vw;
    border-radius: 1vw;;
}

.form_container {
    margin-bottom: 2vh;
}

label {
    font-size: 14px;
    margin: 0vh!important;
    font-weight: bold;
}

.container_form {
    justify-content: center;
}

.form_column {
    justify-content: space-between;
}

.form_container input[type=text], input[type=email]{
    width: 40vw;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

.form_container select, input[type=date] {
    width: 18vw;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

.form_column input[type=text] {
    width: 18vw;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

textarea {
    width: 40vw;
    height: 20vh;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
}

#id_photo {
    font-family: "Montserrat";
}

.create_button {
    margin-top: 4vh;
    justify-content: center;
}

input[type=submit] {
    border-radius: 0.4vw;
    border: none;
    background-color: #FFB84C;
    color: #ffffff;
    font-weight: bold;
    height: 32px;
    width: 100px;
}

@media (max-width: 767.98px) {
    .head_register h1 {
        font-size: 24px;
        text-shadow: 0px 1px 0.4px #494949;
    }
    label {
        font-size: 9px;
        margin: 0vh;
    }
    .form_box {
        min-width: 80vw;

    }
    .form_container {
        margin-bottom: 0vh;
    }
    input {
        font-size: 9px;
    }
    br{margin: 0px;}
}