body {
    background-color: #f1f1f2;
    font-family: Montserrat;
}

.page {
    width: 60vw;
    position: absolute;
    top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile {
    text-align: center;
    background: linear-gradient(145.82deg, #27B2C7 10.85%, #FFB84C 121.02%);
    box-shadow: -5px 0px 23px rgba(130, 130, 130, 0.8);
    color: white;
    padding: 5%;
}

.insideprofile {
    /* height: 30%; */
    margin-top: 15%;
    margin-bottom: 15%;
    /* transform: translate(0%, -20%); */
}

.photo {
    width: 30%;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    margin-top: 2%;
}

.category {
    background: #FFFFFF;
    border-radius: 5px;
    width: 50%;
    margin: 3% auto;
    color: #27B2C7;
    font-weight: bold;
    padding: 1%;
}

.desc {
    text-align: justify;
}

.left {
    text-align: left;
}

.contactbutton {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    color: white;
    padding: 2% 10%;
}

.bookingform {
    color: #2c8c9c;
    font-weight: bold;
    background-color: white;
    padding: 5%;
    box-shadow: -5px 0px 23px rgba(130, 130, 130, 0.8);
}

.bookingform input, .bookingform select {
    width: 100%;
    font-size: .9em;
    color: #34546d;
    margin: 0.3em 0 1em 0;
    border: none;
    background: none;
    border-bottom: 1px solid #555b58;
    padding: 0.5em 0.1em;
}

.formbutton {
    background: #FFB84C;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 2% 6%;
}

.prompt {
    font-weight: 300;
}
