{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock js %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="speaker">
            <div class="speaker-text">
                Speakers
            </div>
        </div>

        <div class="container">
            <div class="box">
                <div class="container-search">
                    <input id="search_input" class="form-control" type="text" name="query" placeholder="Type to search speakers...">
                </div>
            </div>
            <div class="container-pembicara" id="sp-result">
            </div>
        </div>

        <div class="sticky-bottom">
            <div class="txtcopy">
                Copyright © 2019 BookaSpeaker
            </div>
        </div>
    {% else %}
        <h1>You must login first to see all the speakers</h1>
        <a href="{% url 'accounts:login_url' %}">
            <h3>Login</h3>
        </a>
    {% endif %}
    

{% endblock %}